# Removing pycache files
*.pyo
*.pyc
__pycache__
*.py[cod]

# Removing db
*.so
*.DS_Store


# Removing all env
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
vscode

# Local History for Visual Studio Code
.history/

##Ignore env files
.env