{% extends "NavRender.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="Attractions.css"><!--link to styles sheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/Attractions.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Attractions</title> 
   <body>
    <h1 class="title">
        Attractions Page
      </h1>
      
      
      
      
      
</body>
</html>
{% endblock %}