{% extends "NavRender.html" %}<!--nav bar-->

{% block content %}
<!DOCTYPE html>
<html lang="en">
<script src="static\js\Attractions.js"></script><!--js extension-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/Attractions.css')}}"><!--links to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Attractions</title> 
   <body>
    <h1 class="title"> Attractions </h1>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>DIA</b><br></h5> <!--card-->
            <img src="static\images\DIA.jpg" class="card-img-top"  alt="DIA picture">
            <p class="description"><!--description-->The Detroit Institute of Arts, located in Midtown Detroit, Michigan, has one of the largest and most 
              significant art collections in the United States. With over 100 galleries, it covers 658,000 square feet with a major renovation 
              and expansion project completed in 2007 that added 58,000 square feet. The DIA collection is regarded as among the top six museums 
              in the United States with an encyclopedic collection which spans the globe from ancient Egyptian and European works to contemporary 
              art. Its art collection is valued in billions of dollars, up to $8.1 billion according to a 2014 appraisal. The DIA campus is located 
              in Detroit's Cultural Center Historic District, about two miles north of the downtown area, across from the Detroit Public Library 
              near Wayne State University. The museum building is highly regarded by architects. The original building, designed by Paul Philippe Cret, 
              is flanked by north and south wings with the white marble as the main exterior material for the entire structure. The campus is part of 
              the city's Cultural Center Historic District listed in the National Register of Historic Places.<a href="https://en.wikipedia.org/wiki/Detroit_Institute_of_Arts" target="_blank"><b><button>wikipedia</button></b></a></p>
              <br>
            <p class="time">Monday  Closed<br><!--days and time open-->
                Tuesday Closed<br>
                Wednesday 9:00 AM – 4:00 PM<br>
                Thursday  9:00 AM – 4:00 PM<br>
                Friday  9:00 AM – 4:00 PM<br>
                Saturday  10:00 AM – 5:00 PM<br>
                Sunday  10:00 AM – 5:00 PM<br><br></p>
            <!--provides location and once you click it will redirect to google maps in a new tab-->
            <p class="location"><a href="https://www.google.com/maps/place/Detroit+Institute+of+Arts/@42.3593793,-83.0666897,17z/data=!3m2!4b1!5s0x8824d2bdb8dfcbf7:0x736b10ed45cf41c0!4m5!3m4!1s0x8824d2bdb912a53b:0x6d1f41a6007513b2!8m2!3d42.3593793!4d-83.064501" target="_blank">
              <b><button>5200 Woodward Ave, Detroit, MI 48202</button></b></a></p><br>
            </div>
            <small class="text-muted"><a href="https://www.dia.org/" target="_blank"><b><button>click to view official website</button></b></a><br><br></small><!--makes the text smaller also website link-->
            </div>
          </div>

      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>Basilica of Ste. Anne de Detroit</b><br></h5> <!--card-->
            <img src="static\images\anne2.jpg" class="card-img-top" alt="st-anne picture" height="700" width="700">
              <p class="description"><!--description-->Basilica of Sainte Anne de Détroit was founded July 26, 1701 by French 
                colonists in New France, and is the second-oldest continuously operating Roman Catholic parish in the United States.
                The current Gothic Revival cathedral-styled church, built in 1886, is located at 1000 Ste. Anne Street in Detroit, 
                Michigan, in the Richard-Hubbard neighborhood, near the Ambassador Bridge, and the Michigan Central Station. At one 
                time it was the seat of a diocese that included French territory in Ontario, Canada south of the Detroit River. 
                Historically, the parish congregation has occupied eight different buildings. It was listed on the National Register 
                of Historic Places in 1976. The main entry to the Church faces a grand tree-lined, brick paved plaza. Reflecting 
                demographic changes in the city and region since the 1930s, the present parish is largely Latino in population. 
                On March 1, 2020, Pope Francis elevated the church to a minor basilica, the 86th such designation in the United States 
                and the third in Michigan.<a href="https://en.wikipedia.org/wiki/Basilica_of_Sainte_Anne_de_D%C3%A9troit" target="_blank"> <b><button>wikipedia</button></b></a></p>
                <br>
              </p>
              <!--provides location and once you click it will redirect to google maps in a new tab-->
              <p class="location"><a href="https://www.google.com/maps/place/Basilica+of+Ste.+Anne+de+Detroit/@42.3205373,-83.0765543,15z/data=!4m5!3m4!1s0x0:0xfeee8b783c9316fa!8m2!3d42.3205635!4d-83.0764743?hl=en-US" target="_blank">
              <b><button>1000 St Anne St, Detroit, MI 48216</button></b></a></p><br>
          </div>
            <small class="text-muted"><a href="https://ste-anne.org/" target="_blank"><b><button>click to view official website</button></b></a><br><br></small><!--makes the text smaller also website link-->
        </div>
      </div>

      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>Fox Theatre</b><br></h5> <!--card-->
            <img src="static\images\fox-theatre.jpg" class="card-img-top"  alt="fox-teatre picture">
            <p class="description"><!--description-->The Fox Theatre is a performing arts center located at 2211 Woodward Avenue in Downtown
              Detroit, Michigan, near the Grand Circus Park Historic District. Opened in 1928 as a flagship movie palace in the Fox Theatres
              chain, it was at over 5,000 seats the largest theater in the city. Designed by theater architect C. Howard Crane, it was 
              listed on the National Register of Historic Places in 1985 and was designated a National Historic Landmark in 1989 for its 
              architecture. The area surrounding the Fox is nicknamed Foxtown. The city's major performance centers and theatres emanate 
              from the Fox Theatre and Grand Circus Park Historic District and continue along Woodward Avenue toward the Fisher Theatre in 
              the city's New Center. The Fox has 5,048 seats. It is the largest surviving movie palace of the 1920s and the largest of the 
              original Fox Theatres. The Fox was fully restored in 1988. The adjacent office building houses the headquarters of Olympia 
              Entertainment and Little Caesars.<a href="https://en.wikipedia.org/wiki/Fox_Theatre_(Detroit)" target="_blank"> <b><button>wikipedia</button></b></a></p><br>
            <p class="time">Temporarily closed<br><br><!--days and time open-->
            </p>
            <!--provides location and once you click it will redirect to google maps in a new tab-->
            <p class="location"><a href="https://www.google.com/maps/place/Fox+Theatre/@42.338519,-83.052403,15z/data=!4m5!3m4!1s0x0:0xf25483a0b6175a31!8m2!3d42.338519!4d-83.052403" target="_blank">
            <b><button>2211 Woodward Ave, Detroit, MI 48201</button></b></a></p><br>
          </div>
                <small class="text-muted"><a href="https://www.313presents.com/fox-theatre" target="_blank"><b><button>click to view official website</button></b></a><br><br></small><!--makes the text smaller also website link-->
        </div>
      </div>

      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>Monument to Joe Louis</b><br></h5> <!--card-->
            <img src="static\images\joe.jpg"  class="card-img-top"  alt="jlouis picture">
              <p class="description"><!--description-->The Monument to Joe Louis, known also as The Fist, is a memorial located at 
                Detroit's Hart Plaza, dedicated to boxer Joe Louis. In his first fight with Detroiter Joe Louis, Schmeling won, 
                leading to reams of propaganda about the superiority of the Aryan race. Although Schmeling himself was not a member 
                of the Nazi party, the German government took many steps to ensure his compliance, like not allowing his family to 
                travel with him.
                <a href="https://en.wikipedia.org/wiki/Monument_to_Joe_Louis" target="_blank"> <b><button>wikipedia</button></b></a></p>
                <br>
              <p class="time">Available to see whenever you want<br><br><!--days and time open-->
                <!--provides location and once you click it will redirect to google maps in a new tab-->
              <p class="location"><a href="https://www.google.com/maps/place/Monument+to+Joe+Louis/@42.3286592,-83.0445358,15z/data=!4m5!3m4!1s0x0:0xca8fc98b03b4bba0!8m2!3d42.3286592!4d-83.0445358" target="_blank">
              <b><button>5 Woodward Ave, Detroit, MI 48226</button></b></a></p><br>
          </div>
        </div>
      </div>

      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>The Spirit of Detroit</b><br></h5> <!--card-->
            <img src="static\images\spirit.jpg" class="card-img-top"  alt="spirit picture">
              <p class="description"><!--description-->The Spirit of Detroit is a monument with a large bronze statue created by Marshall 
                Fredericks and located at the Coleman A. Young Municipal Center on Woodward Avenue in Detroit, Michigan.
                <a href="https://en.wikipedia.org/wiki/The_Spirit_of_Detroit" target="_blank"> <b><button>wikipedia</button></b></a></p>
                <br>
              <p class="time">Available to see whenever you want<br><br><!--days and time open-->
              <!--provides location and once you click it will redirect to google maps in a new tab-->
              <p class="location"><a href="https://www.google.com/maps/place/The+Spirit+of+Detroit/@42.3293011,-83.0467621,17z/data=!3m1!4b1!4m5!3m4!1s0x883b2d25737c7ed3:0x2eef71a337b9e9c1!8m2!3d42.3293011!4d-83.0445734" target="_blank">
              <b><button>2 Woodward Ave, Detroit, MI 48226</button></b></a></p><br>
          </div>
        </div>
      </div>

      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>Islamic Center of America</b><br></h5> <!--card-->
            <img src="static\images\mosque.jpg" class="card-img-top" alt="mosque picture">
              <p class="description"><!--description-->The Islamic Center of America is a mosque located in Dearborn, Michigan. 
                Although the institution dates back to 1963, the center's current mosque opened in 2005. It is the largest mosque 
                in North America and the oldest Shia mosque in the United States. With its large Shia Arab population, Dearborn is 
                often called the "heart of Shiism" in the United States. The Islamic Center of America is located at 19500 Ford Road 
                in Dearborn. The institution was founded in 1962 by Muhammad Jawad Chirri, who remained its director until his death 
                in 1994.<a href="https://en.wikipedia.org/wiki/Islamic_Center_of_America" target="_blank"> <b><button>wikipedia</button></b></a></p>
                <br>
              </p>
              <!--provides location and once you click it will redirect to google maps in a new tab-->
              <p class="location"><a href="https://www.google.com/maps/place/Islamic+Center+of+America/@42.3303719,-83.2298152,15z/data=!4m5!3m4!1s0x0:0x517dbb87b98d5718!8m2!3d42.3303719!4d-83.2298152?hl=en-US" target="_blank">
                <b><button>19500 Ford Rd, Dearborn, MI 48128</button></b></a></p><br>
            </div>
              <small class="text-muted"><a href="http://www.icofa.com/" target="_blank"><b><button>click to view official website</button></a><br><br></small><!--makes the text smaller also website link-->
        </div>
      </div>

      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>Campus Martius Park</b><br></h5> <!--card-->
            <img src="static\images\Campus.jpg" class="card-img-top"  alt="maritius picture">
            <p class="description"><!--description-->Campus Martius Park is a re-established park in Downtown Detroit, Michigan. After the fire of 1805, Campus Martius 
              was the focal point of Judge Augustus Woodward's plans to rebuild the city. It was named for the principal square in Marietta, Ohio, the first capital of 
              the Northwest Territories.<a href="https://en.wikipedia.org/wiki/Campus_Martius_Park" target="_blank"><b><button>wikipedia</button></b></a></p>
              <br>
            <p class="time">Monday  	6:00 AM – 10:00 PM<br><!--days and time open-->
                Tuesday 	6:00 AM – 10:00 PM<br>
                Wednesday 	6:00 AM – 10:00 PM<br>
                Thursday  	6:00 AM – 10:00 PM<br>
                Friday  	6:00 AM – 10:00 PM<br>
                Saturday  	6:00 AM – 10:00 PM<br>
                Sunday  	6:00 AM – 10:00 PM<br><br></p>
            <!--provides location and once you click it will redirect to google maps in a new tab-->
            <p class="location"><a href="https://www.google.com/maps/place/Campus+Martius+Park/@42.3318175,-83.0487452,17z/data=!3m1!4b1!4m5!3m4!1s0x883b2d2feadef68f:0x8cd5229188826206!8m2!3d42.3318175!4d-83.0465565" target="_blank">
              <b><button>800 Woodward Ave, Detroit, MI 48226</button></b></a></p><br>
            </div>
            <small class="text-muted"><a href="http://www.campusmartiuspark.org/" target="_blank"><b><button>click to view official website</button></b></a><br><br></small><!--makes the text smaller also website link-->
            </div>
          </div>

          <div class="card-deck">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><b>Guardian Building</b><br></h5> <!--card-->
                <img src="static\images\Guardian.jpg" class="card-img-top"  alt="Guardian picture" height="500">
                <p class="description"><!--description-->The Guardian Building is a landmark skyscraper in the United States, located at 500 Griswold Street in 
                  Downtown Detroit, Michigan, within the Financial District. The Guardian is a class-A office building owned by Wayne County, Michigan and serves 
                  as its headquarters. Built in 1928 and finished in 1929, the building was originally called the Union Trust Building and is a bold example of Art 
                  Deco architecture, including art moderne designs. At the top of the Guardian Building's spire is a large U.S. flag, complementing the four smaller 
                  flags atop nearby 150 West Jefferson. The building has undergone recent award-winning renovations. It was designated a National Historic Landmark 
                  on June 29, 1989, and the associated Detroit Financial District is on the National Register of Historic Places. The Guardian building includes retail 
                  and a tourist gift shop.<a href="https://en.wikipedia.org/wiki/Guardian_Building" target="_blank"><b><button>wikipedia</button></b></a></p>
                  <br>
                <p class="time"><!--days and time open-->
                    Monday	Open 24 hours<br>
                    Tuesday	Open 24 hours<br>
                    Wednesday	Open 24 hours<br>
                    Thursday	Open 24 hours<br>
                    Friday	Open 24 hours<br>
                    Saturday	Open 24 hours<br>
                    Sunday	Open 24 hours<br></p>
                <!--provides location and once you click it will redirect to google maps in a new tab-->
                <p class="location"><a href="https://www.google.com/maps/place/Guardian+Building/@42.3296291,-83.0483149,17z/data=!3m2!4b1!5s0x883b2d2fa4fb6487:0x578697918b9a46f1!4m5!3m4!1s0x883b2d25442750b3:0x42b1654e937291d5!8m2!3d42.3296291!4d-83.0461262" target="_blank">
                  <b><button>500 Griswold St STE 1600, Detroit, MI 48226</button></b></a></p><br>
                </div>
                <small class="text-muted"><a href="https://www.guardianbuilding.com/" target="_blank"><b><button>click to view official website</button></b></a><br><br></small><!--makes the text smaller also website link-->
                </div>
              </div>
          
           <div class="card-deck">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><b>Detroit Riverfront</b><br></h5> <!--card-->
                    <img src="static\images\riverwalk.jpg" class="card-img-top"  alt="front picture">
                    <p class="description"><!--description-->The Detroit International Riverfront is a tourist attraction and landmark of 
                      Detroit, Michigan extending from the Ambassador Bridge in the west to Belle Isle in the east, for a total of 5.5 miles. 
                      The International Riverfront encompasses a cruise ship passenger terminal and dock, a marina, a multitude of parks, 
                      restaurants, retail shops, skyscrapers, and high rise residential areas along with TCF Center. The Marriott at the 
                      Renaissance Center and the Robert's Riverwalk Hotel are also situated along the International Riverfront. Private 
                      companies and foundations together with the city, state, and federal government have contributed several hundred million 
                      dollars toward the riverfront development. Key public spaces in the International Riverfront, such as the RiverWalk, 
                      Dequindre Cut Greenway and Trail, William G. Milliken State Park and Harbor, and a cruise ship passenger terminal and 
                      dock at Hart Plaza complement the architecture of the area.<a href="https://en.wikipedia.org/wiki/Detroit_International_Riverfront" target="_blank"><b><button>wikipedia</button></b></a></p>
                      <br>
                    <!--provides location and once you click it will redirect to google maps in a new tab-->
                    <p class="location"><a href="https://www.google.com/maps/place/Detroit+Institute+of+Arts/@42.3593793,-83.0666897,17z/data=!3m2!4b1!5s0x8824d2bdb8dfcbf7:0x736b10ed45cf41c0!4m5!3m4!1s0x8824d2bdb912a53b:0x6d1f41a6007513b2!8m2!3d42.3593793!4d-83.064501" target="_blank">
                      <b><button>588 Jefferson Ct, Detroit, MI 48207</button></b></a></p><br>
                    </div>
                    </div>
                  </div>        

              <div class="card-deck">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><b>Belle Isle</b><br></h5> <!--card-->
                    <img src="static\images\belle.jpg" class="card-img-top"  alt="belle isle picture">
                    <p class="description"><!--description-->Belle Isle Park, known simply as Belle Isle, is a 982-acre island park in 
                      Detroit, Michigan, developed in the late 19th century. It consists of Belle Isle, an island in the Detroit River, 
                      as well as several surrounding islets. The U.S.-Canada border is in the channel south of Belle Isle such that the 
                      island is not in Canada. Owned by the city of Detroit, Belle Isle is managed as a state park by the Michigan 
                      Department of Natural Resources through a 30-year lease initiated in 2013; it was previously a city park. Belle Isle 
                      Park is the largest city-owned island park in the United States, and Belle Isle is the third largest island in the 
                      Detroit River, after Grosse Ile and Fighting Island. It is connected to mainland Detroit by the MacArthur Bridge.
                       Belle Isle Park is home to the Belle Isle Aquarium, the Belle Isle Conservatory, the Belle Isle Nature Center, the 
                       James Scott Memorial Fountain, the Dossin Great Lakes Museum, a municipal golf course, a half-mile swimming beach, 
                       and numerous other monuments and attractions. It is also the site of a Coast Guard station. The Detroit Yacht Club 
                       is located on an adjacent island, connected to Belle Isle by a bridge.<a href="https://en.wikipedia.org/wiki/Belle_Isle_Park_(Michigan)" target="_blank"><b><button>wikipedia</button></b></a></p>
                      <br>
                    <p class="time">5AM to 10PM year-round<br><!--days and time open-->
                    <!--provides location and once you click it will redirect to google maps in a new tab-->
                    <p class="location"><a href="https://www.google.com/maps/place/Belle+Isle/@42.3417234,-83.0341098,12.96z/data=!4m5!3m4!1s0x8824d4b2383fbbd3:0x3da444fedb5e0199!8m2!3d42.3432541!4d-82.9743495" target="_blank">
                      <b><button>Belle Isle, Detroit, MI</button></b></a></p><br>
                    </div>
                    <small class="text-muted"><a href="https://www.belleisleconservancy.org/" target="_blank"><b><button>click to view official website</button></b></a><br><br></small><!--makes the text smaller also website link-->
                    </div>
                  </div>

              <div class="card-deck">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><b>Detroit Historical Museum</b><br></h5> <!--card-->
                    <img src="static\images\history.jpg" class="card-img-top"  alt="museum picture">
                    <p class="description"><!--description-->The Detroit Historical Museum is located at 5401 Woodward Avenue in the city's 
                      Cultural Center Historic District in Midtown Detroit. It chronicles the history of the Detroit area from cobblestone 
                      streets, 19th century stores, the auto assembly line, toy trains, fur trading from the 18th century, and much more.<a href="https://en.wikipedia.org/wiki/Detroit_Historical_Museum" target="_blank"><b><button>wikipedia</button></b></a></p>
                      <br>
                    <p class="time"><!--days and time open-->
                      Wednesday	Closed <br>
                      Thursday	10:00 AM – 5:00 PM<br>
                      Friday	10:00 AM – 5:00 PM<br>
                      Saturday	10:00 AM – 5:00 PM<br>
                      Sunday	1:00 PM – 5:00 PM<br><br>
                      Monday	Closed</p>
                    <!--provides location and once you click it will redirect to google maps in a new tab-->
                    <p class="location"><a href="https://www.google.com/maps/place/Detroit+Historical+Museum/@42.3597909,-83.0693281,17z/data=!3m1!4b1!4m5!3m4!1s0x8824d2bd3be8e42b:0x18d12e9e39261789!8m2!3d42.3597909!4d-83.0671394" target="_blank">
                      <b><button>5401 Woodward Ave, Detroit, MI 48202</button></b></a></p><br>
                    </div>
                    <small class="text-muted"><a href="http://detroithistorical.org/" target="_blank"><b><button>click to view official website</button></b></a><br><br></small><!--makes the text smaller also website link-->
                    </div>
                  </div>

              <div class="card-deck">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><b>Michigan Science Center</b><br></h5> <!--card-->
                    <img src="static\images\sciencecenter.jpg" class="card-img-top"  alt="science center picture">
                    <p class="description"><!--description-->The New Detroit Science Center features scientific exploration. Its scientific 
                      exploration includes dome theatre, planetarium, learning resource center, energy sparks theater, science stage, science 
                      hall for traveling exhibits, live science demonstrations in exhibit laboratories, children’s gallery for pint-size 
                      scientists, special events lobby, family programs, and field trips. The company was founded in 1970 and is based in 
                      Detroit, Michigan.<a href="https://en.wikipedia.org/wiki/Michigan_Science_Center" target="_blank"><b><button>wikipedia</button></b></a></p>
                      <br>
                    <!--provides location and once you click it will redirect to google maps in a new tab-->
                    <p class="location"><a href="https://www.google.com/maps/place/Michigan+Science+Center/@42.358451,-83.0645853,17z/data=!3m2!4b1!5s0x8824d2be89c6ed47:0x931e8d85e0c3e77d!4m5!3m4!1s0x8824d2be63c14d55:0x68dd1993567d083!8m2!3d42.358451!4d-83.0623966" target="_blank">
                      <b><button>5020 John R St, Detroit, MI 48202</button></b></a></p><br>
                    </div>
                    <small class="text-muted"><a href="http://www.mi-sci.org/" target="_blank"><b><button>click to view official website</button></b></a><br><br></small><!--makes the text smaller also website link-->
                    </div>
                  </div>
                    
</body>
</html>
{% endblock %}
==