{% extends "NavRender.html" %}<!--nav bar-->

{% block content %}
<!DOCTYPE html>
<html lang="en">
<script src="static\js\Attractions.js"></script><!--js extension-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/Attractions.css')}}"><!--links to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Attractions</title> 
   <body>
    <h1 class="title"> Attractions </h1>

      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>DIA</b><br></h5> <!--card-->
            <p class="description"><!--description-->The Detroit Institute of Arts, located in Midtown Detroit, Michigan, has one of the largest and most 
              significant art collections in the United States. With over 100 galleries, it covers 658,000 square feet with a major renovation 
              and expansion project completed in 2007 that added 58,000 square feet. The DIA collection is regarded as among the top six museums 
              in the United States with an encyclopedic collection which spans the globe from ancient Egyptian and European works to contemporary 
              art. Its art collection is valued in billions of dollars, up to $8.1 billion according to a 2014 appraisal. The DIA campus is located 
              in Detroit's Cultural Center Historic District, about two miles north of the downtown area, across from the Detroit Public Library 
              near Wayne State University. The museum building is highly regarded by architects. The original building, designed by Paul Philippe Cret, 
              is flanked by north and south wings with the white marble as the main exterior material for the entire structure. The campus is part of 
              the city's Cultural Center Historic District listed in the National Register of Historic Places.<a href="https://en.wikipedia.org/wiki/Detroit_Institute_of_Arts"> <b>wikipedia</b></a></p>
              <br>
            <p class="time">Monday	Closed<br><!--days and time open-->
                Tuesday	Closed<br>
                Wednesday	9:00 AM – 4:00 PM<br>
                Thursday	9:00 AM – 4:00 PM<br>
                Friday	9:00 AM – 4:00 PM<br>
                Saturday	10:00 AM – 5:00 PM<br>
                Sunday	10:00 AM – 5:00 PM<br><br></p>
            <!--provides location and once you click it will redirect to google maps in a new tab-->
            <p class="location"><a href="https://www.google.com/maps/place/Detroit+Institute+of+Arts/@42.3593793,-83.0666897,17z/data=!3m2!4b1!5s0x8824d2bdb8dfcbf7:0x736b10ed45cf41c0!4m5!3m4!1s0x8824d2bdb912a53b:0x6d1f41a6007513b2!8m2!3d42.3593793!4d-83.064501" target="_blank">
              <b>5200 Woodward Ave, Detroit, MI 48202</b></a> click for directions</a></p><br>
            </div>
            <small class="text-muted"><a href="https://www.dia.org/" target="_blank"><b>click to view official website</b></a><br></small><!--makes the text smaller also website link-->
            <img src="static\images\DIA.jpg" class="card-img-top"  alt="DIA picture">
            </div>
          </div>

          <div class="card-deck">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><b>The Spirit of Detroit</b><br></h5> <!--card-->
                <p class="description"><!--description-->The Spirit of Detroit is a monument with a large bronze statue created by Marshall 
                  Fredericks and located at the Coleman A. Young Municipal Center on Woodward Avenue in Detroit, Michigan.
                  <a href="https://en.wikipedia.org/wiki/The_Spirit_of_Detroit" target="_blank"> <b>wikipedia</b></a></p>
                  <br>
                <p class="time">Available to see whenever you want<br><br><!--days and time open-->
                <!--provides location and once you click it will redirect to google maps in a new tab-->
                <p class="location"><a href="https://www.google.com/maps/place/The+Spirit+of+Detroit/@42.3293011,-83.0467621,17z/data=!3m1!4b1!4m5!3m4!1s0x883b2d25737c7ed3:0x2eef71a337b9e9c1!8m2!3d42.3293011!4d-83.0445734" target="_blank">
                  <b>2 Woodward Ave, Detroit, MI 48226</b></a> click for directions</a></p><br>
                </div>
                <img src="static\images\spirit.jpg" class="card-img-top"  alt="spirit picture">
                </div>
              </div>

              <div class="card-deck">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><b>Fox Theatre</b><br></h5> <!--card-->
                    <p class="description"><!--description-->The Fox Theatre is a performing arts center located at 2211 Woodward Avenue in Downtown
                      Detroit, Michigan, near the Grand Circus Park Historic District. Opened in 1928 as a flagship movie palace in the Fox Theatres
                       chain, it was at over 5,000 seats the largest theater in the city. Designed by theater architect C. Howard Crane, it was 
                       listed on the National Register of Historic Places in 1985 and was designated a National Historic Landmark in 1989 for its 
                       architecture. The area surrounding the Fox is nicknamed Foxtown. The city's major performance centers and theatres emanate 
                       from the Fox Theatre and Grand Circus Park Historic District and continue along Woodward Avenue toward the Fisher Theatre in 
                       the city's New Center. The Fox has 5,048 seats. It is the largest surviving movie palace of the 1920s and the largest of the 
                       original Fox Theatres. The Fox was fully restored in 1988. The adjacent office building houses the headquarters of Olympia 
                       Entertainment and Little Caesars.<a href="https://en.wikipedia.org/wiki/Fox_Theatre_(Detroit)" target="_blank"> <b>wikipedia</b></a></p>
                      <br>
                    <p class="time">Temporarily closed<br><!--days and time open-->
                    </p>
                    <!--provides location and once you click it will redirect to google maps in a new tab-->
                    <p class="location"><a href="https://www.google.com/maps/place/Fox+Theatre/@42.338519,-83.052403,15z/data=!4m5!3m4!1s0x0:0xf25483a0b6175a31!8m2!3d42.338519!4d-83.052403" target="_blank">
                      <b>2211 Woodward Ave, Detroit, MI 48201</b></a> click for directions</a></p><br>
                    </div>
                    <small class="text-muted"><a href="https://www.313presents.com/fox-theatre" target="_blank"><b>click to view official website</b></a><br></small><!--makes the text smaller also website link-->
                    <img src="static\images\fox-theatre.jpg" class="card-img-top"  alt="fox-theatre picture">
                    </div>
                  </div>

</body>
</html>
{% endblock %}