{% extends "NavRender.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Event - Ticket cards</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Events.css')}}">
  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

</head>
<body>

<h1 class = "title" style="font-family: 'Arvo', serif;">Events</h1>
<p class = "description" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Welcome to Wayne Society, view all upcoming events and shows trending in the Wayne County Area. </p>
<br>
<br>

<ul>
  <li class="booking-card" style="background-image: url(https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2020%2F06%2Flil-durk-just-cause-yall-waited-2-deluxe-album-stream-3-headed-goat-music-video-000.jpg?w=960&cbr=1&q=90&fit=max)">
    <div class="book-container">
      <div class="content">
        <button class="btn"><a href="https://www.ticketmaster.com/lil-durk-detroit-michigan-07-29-2021/event/08005ACFC8FD28C0">Find Tickets</a></button>
      </div>
    </div>
    <div class="informations-container">
      <h2 class="title" style="font-family: 'Arvo', serif;">Lil Durk</h2>
      <p class="sub-title">Location: Aretha Franklin Amphitheatre, Detroit</p><br>
      <!-- <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24"> -->
    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
</svg>Time: Sat, Jul 17, 8 PM – Sun, Jul 18, 12 AM</p>
      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
  </svg>
            <p>Reminder: Bring a Mask</p>
          </div>
          <div class="box date">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
  </svg>
            <p>Don't forget the date</p>
          </div>
        </div>
        <p class="disclaimer">Lil Durk, is an American rapper, singer, and songwriter from Chicago, Illinois</p>
        </div>
    </div>
  </li>
  <li class="booking-card" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSYoZiX1IizLbpn60UyJVknM2BgZxn19cmUQ&usqp=CAU);">
    <div class="book-container">
      <div class="content">
        <button class="btn"><a href="https://www.ticketmaster.com/deadmau5-tickets/artist/1221074">Find Tickets</a></button>
      </div>
    </div>
    <div class="informations-container">


      <h2 class="title" style="font-family: 'Arvo', serif;">DeadMau5</h2>
      <p class="sub-title">Location: Detroit, MI</p><br>
    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
</svg>Time: Fri, Jul 23, 6 PM – Sat, Jul 24, 12 AM</p>
      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
  </svg>
            <p>Reminder: Bring a Mask</p>
          </div>
          <div class="box date">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
  </svg>
            <p>Don't forget the date</p>
          </div>
        </div>
        <p class="disclaimer">Joel Thomas Zimmerman, better known by his stage name deadmau5, is a Canadian record producer, DJ and Musican.</p>
        </div>
    </div>
  </li>
  <li class="booking-card" style="background-image: url(https://agirlsguidetocars.com/wp-content/uploads/2017/02/CAR_1955FORDTBIRD_75A2710_SBC-1-800x534.jpg);">
    <div class="book-container">
      <div class="content">
        <button class="btn"><a href="https://www.facebook.com/events/westland-historic-village-park/vintage-auto-festival/386724342763178/">Read More</a></button>
      </div>
    </div>
    <div class="informations-container">


      <h2 class="title" style="font-family: 'Arvo', serif;">Vintage Auto Festival</h2>
      <p class="sub-title">Location: Westland Historic Village Park</p>
      <!-- <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24"> -->
    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
</svg>Time: Sat, Jul 17, 6 AM </p>
      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
  </svg>
            <p>Reminder: Bring a Mask</p>
          </div>
          <div class="box date">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
  </svg>
            <p>Don't forget the date</p>
          </div>
        </div>
        <p class="disclaimer">Enjoy looking at vintage vehicles from the late 1800's to 1931.</p>
        </div>
    </div>
  </li>
  <li class="booking-card" style="background-image: url(https://cdn.givingcompass.org/wp-content/uploads/2019/02/08120143/Landmarks-for-Community-Arts-Organizations-and-Leaders.jpg);">
    <div class="book-container">
      <div class="content">
        <button class="btn"><a href="https://www.facebook.com/events/chandler-park-detroit-mi/community-arts-and-music-festival/1990530084431236/">Read More</a></button>
      </div>
    </div>
    <div class="informations-container">


      <h2 class="title" style="font-family: 'Arvo', serif;">Community Arts and Music Festival</h2>
      <p class="sub-title">Location: Chandler Park, Detroit MI</p><br>
      <!-- <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24"> -->
    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
</svg>Time: Sat, Jul 10, 12 – 3 PM</p>
      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
  </svg>
            <p>Reminder: Bring a Mask</p>
          </div>
          <div class="box date">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
  </svg>
            <p>Don't forget the date</p>
          </div>
        </div>
        <p class="disclaimer">A Full Day of Fun, Food, and Music with the DSO at Chandler Park.</p>
        </div>
    </div>
  </li>
  <li class="booking-card" style="background-image: url(https://ncprd.com/wp-content/uploads/2021/06/Movies-in-the-Park_2021_Web_Header-673x287.jpg);">
    <div class="book-container">
      <div class="content">
        <button class="btn"><a href="https://www.facebook.com/events/wayne-county-family-aquatic-center/movies-in-the-park-wayne-county-family-aquatic-center/397763454942487/">Read More</a></button>
      </div>
    </div>
    <div class="informations-container">


      <h2 class="title" style="font-family: 'Arvo', serif;">Movies in the Park</h2>
      <p class="sub-title">Location: Wayne County Family Aquatic Center</p><br>
      <!-- <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24"> -->
    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
</svg>Time:  Fri, Jul 16, 7:30 – 10:30 PM</p>
      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
  </svg>
            <p>Reminder: Bring a Mask</p>
          </div>
          <div class="box date">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
  </svg>
            <p>Don't forget the date</p>
          </div>
        </div>
        <p class="disclaimer">MOVIES in the Park! Bring your chairs, blankets and picnic baskets (or purchase snacks from a food truck).</p>
        </div>
    </div>
  </li>
  <li class="booking-card" style="background-image: url(https://respect-mag.com/wp-content/uploads/2019/06/unnamed-1-1.png);">
    <div class="book-container">
      <div class="content">
        <button class="btn"><a href="https://www.ticketmaster.com/tee-grizzley-detroit-michigan-08-13-2021/event/08005AD0DE402832">Find Tickets</a></button>
      </div>
    </div>
    <div class="informations-container">


      <h2 class="title" style="font-family: 'Arvo', serif;">Tee Grizzley</h2>
      <p class="sub-title">Location: The Aretha Franklin Amphitheatre, Detroit</p><br>
      <!-- <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24"> -->
    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
</svg>Time: Fri, Aug 13, 8 PM – Sat, Aug 14, 12 AM</p>
      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
  </svg>
            <p>Reminder: Bring a Mask</p>
          </div>
          <div class="box date">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
  </svg>
            <p>Don't forget the date</p>
          </div>
        </div>
        <p class="disclaimer">Detroit's Tee Grizzley first performance of 2021!</p>
        </div>
    </div>
  </li>
  <li class="booking-card" style="background-image: url(https://upload.wikimedia.org/wikipedia/en/7/77/Maroon_5_-_Overexposed.png);">
    <div class="book-container">
      <div class="content">
        <button class="btn"><a href="https://www.ticketmaster.com/maroon-5-tickets/artist/824144">Find Tickets</a></button>
      </div>
    </div>
    <div class="informations-container">


      <h2 class="title" style="font-family: 'Arvo', serif;">Maroon 5</h2>
      <p class="sub-title">Location: Detroit MI</p><br>
      <!-- <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24"> -->
    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
</svg>Time: Mon, Aug 23, 10 PM – Tue, Aug 24, 1 AM</p>
      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
  </svg>
            <p>Reminder: Bring a Mask</p>
          </div>
          <div class="box date">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
  </svg>
            <p>Don't forget the date</p>
          </div>
        </div>
        <p class="disclaimer">Maroon 5 are back for the North American Tour in 2021!</p>
        </div>
    </div>
  </li>
  <li class="booking-card" style="background-image: url(https://api.time.com/wp-content/uploads/2014/10/pitbull-globalization-2014.png?w=600&h=512&crop=1);">
    <div class="book-container">
      <div class="content">
        <button class="btn"><a href="https://www.ticketmaster.com/pitbull-tickets/artist/985347">Find Tickets</a></button>
      </div>
    </div>
    <div class="informations-container">


      <h2 class="title" style="font-family: 'Arvo', serif;">Pitbull</h2>
      <p class="sub-title">Location: DTE Energy Music Theatre, Detroit</p><br>
      <!-- <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24"> -->
    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
</svg>Time: Fri, Aug 20, 8 PM – Sat, Aug 21, 12 AM</p>
      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
  </svg>
            <p>Reminder: Bring a Mask</p>
          </div>
          <div class="box date">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
  </svg>
            <p>Don't forget the date</p>
          </div>
        </div>
        <p class="disclaimer">Come see Mr. Worldwide aka Pitbull perform!</p>
        </div>
    </div>
  </li>
  <li class="booking-card" style="background-image: url(https://static.stereogum.com/uploads/2020/03/Sada-Baby-Skuba-Sada-2-1584717860.jpg);">
    <div class="book-container">
      <div class="content">
        <button class="btn"><a href="https://www.ticketmaster.com/sada-baby-tickets/artist/2419918">Find Tickets</a></button>
      </div>
    </div>
    <div class="informations-container">


      <h2 class="title" style="font-family: 'Arvo', serif;">Sada Baby</h2>
      <p class="sub-title">Location: El Club, Detroit MI</p><br>
      <!-- <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24"> -->
    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
</svg>Time: Mon, Aug 2, 7 – 11 PM</p>
      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
  </svg>
            <p>Reminder: Bring a Mask</p>
          </div>
          <div class="box date">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
  </svg>
            <p>Don't forget the date</p>
          </div>
        </div>
        <p class="disclaimer">Monday, August 2nd at El Club CHECK! CHECK! IS THIS THING ON!? OFFICIAL REOPENING PARTY W/ SADA BABY DJ KILLA $QUID PRESENTED BY VANS x EL CLUB</p>
        </div>
    </div>
  </li>
  <li class="booking-card" style="background-image: url(https://ih1.redbubble.net/image.2244017263.5368/poster,504x498,f8f8f8-pad,600x600,f8f8f8.jpg);">
    <div class="book-container">
      <div class="content">
        <button class="btn"><a href="https://www.thefillmoredetroit.com/EventDetail?tmeventid=vvG1OZpii88KK9&offerid=0">Find Tickets</a></button>
      </div>
    </div>
    <div class="informations-container">
      <h2 class="title">Rod Wave</h2>
      <p class="sub-title">Location: The Fillmore, Detroit MI</p><br>
      <!-- <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24"> -->
    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
</svg>Time: Thurs, Sept 23, 7 – 11 PM</p>
      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
  </svg>
            <p>Reminder: Bring a Mask</p>
          </div>
          <div class="box date">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
  </svg>
            <p>Don't forget the date</p>
          </div>
        </div>
        <p class="disclaimer">ALL AGES WELCOME DOORS 7PM SHOW 8PM Sale Dates and Times: Public Onsale : Fri, 18 Jun 2021 at 10:00 AM Live Nation Presale : Thu, 17 Jun 2021 at 10:00 AM</p>
        </div>
    </div>
  </li>
  <li class="booking-card" style="background-image: url(https://i.redd.it/lhy8ht79u5p51.jpg);">
    <div class="book-container">
      <div class="content">
        <button class="btn"><a href="https://www.ticketmaster.com/machine-gun-kelly-tickets-to-my-detroit-michigan-09-21-2021/event/08005A9427731EBB">Find Tickets</a></button>
      </div>
    </div>
    <div class="informations-container">
      <h2 class="title">Machine Gun Kelly</h2>
      <p class="sub-title">Location: The Aretha Franklin Amphitheatre, Detroit MI</p><br>
      <!-- <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24"> -->
    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
</svg>Time: Tue, Sep 21, 7 – 11 PM</p>
      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
  </svg>
            <p>Reminder: Bring a mask</p>
          </div>
          <div class="box date">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
  </svg>
            <p>Don't forget the date</p>
          </div>
        </div>
        <p class="disclaimer">For the Machine Gun Kelly ticket give away online contest, enter starting Friday, April 30, 2021 at 12:01am ET through Sunday, May 2, 2021 at 11:59pm ET by visiting www.alt987detrot.com/contests</p>
        </div>
    </div>
  </li>
  <li class="booking-card" style="background-image: url(https://i1.sndcdn.com/artworks-jIZnhC15XwKpSDB8-ohRLGg-t500x500.jpg);">
    <div class="book-container">
      <div class="content">
        <button class="btn"><a href="https://www.ticketmaster.com/jack-harlow-tickets/artist/2235687">Find Tickets</a></button>
      </div>
    </div>
    <div class="informations-container">
      <h2 class="title">Jack Harlow</h2>
      <p class="sub-title">Location: The Fillmore, Detroit MI</p><br>
      <!-- <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24"> -->
    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
</svg>Time: Tue, Sep 21, 7:30 – 11:30 PM</p>
      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
  </svg>
            <p>Reminder: Bring a Mask</p>
          </div>
          <div class="box date">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
  </svg>
            <p>Don't forget the date</p>
          </div>
        </div>
        <p class="disclaimer">Jack Harlow Crème de la Crème Tour presented by Rolling Loud September 21 at The Fillmore Detroit</p>
        </div>
    </div>
  </li>
  <li class="booking-card" style="background-image: url(https://i.pinimg.com/736x/7e/30/d9/7e30d9c900b8b7b4f9b08775d1faa615.jpg);">
    <div class="book-container">
      <div class="content">
        <button class="btn"><a href="https://www.ticketmaster.com/trippie-redd-tripp-at-knight-tour-sterling-heights-michigan-09-03-2021/event/08005ACB02742CD1">Find Tickets</a></button>
      </div>
    </div>
    <div class="informations-container">
      <h2 class="title">Trippie Redd</h2>
      <p class="sub-title">Location: Michigan Lottery Amphitheatre at Freedom Hill, Detroit MI</p><br>
      <!-- <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24"> -->
    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
</svg>Time: Fri, Sep 3, 7 – 11 PM</p>
      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
  </svg>
            <p>Reminder: Bring a Mask</p>
          </div>
          <div class="box date">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
  </svg>
            <p>Don't forget the date</p>
          </div>
        </div>
        <p class="disclaimer">Multi-platinum selling recording artist Trippie Redd announces his upcoming headlining North American tour, “Tripp At Knight,” produced by Live Nation and presented by Rolling Loud</p>
        </div>
    </div>
  </li>
  <li class="booking-card" style="background-image: url(https://m.media-amazon.com/images/I/81-dBQPFOcL._AC_SX466_.jpg);">
    <div class="book-container">
      <div class="content">
        <button class="btn"><a href="https://www.axs.com/events/400581/lorde-tickets">Find Tickets</a></button>
      </div>
    </div>
    <div class="informations-container">
      <h2 class="title">Lorde</h2>
      <p class="sub-title">Location: Masonic Temple, Detroit MI</p><br>
      <!-- <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24"> -->
    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
</svg>Time: Mon, Aug 2, 7 – 11 PM</p>
      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
  </svg>
            <p>Reminder: Bring a Mask</p>
          </div>
          <div class="box date">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
  </svg>
            <p>Don't forget the date</p>
          </div>
        </div>
        <p class="disclaimer">The 24-year-old performer last visited Detroit in 2018 when she performed at Little Caesars Arena as part of her massive world tour in support of 2017's Melodrama</p>
        </div>
    </div>
  </li>
  <li class="booking-card" style="background-image: url(https://thefader-res.cloudinary.com/private_images/w_640,c_limit,f_auto,q_auto:eco/pierrecardo_qwhqgc/pierre-bourne-cardo-mixtape-wild-adventures.jpg);">
    <div class="book-container">
      <div class="content">
        <button class="btn"><a href="https://www.vividseats.com/pierre-bourne-tickets-detroit-the-shelter-at-st-andrews-hall-8-20-2021/production/3660593">Find Tickets</a></button>
      </div>
    </div>
    <div class="informations-container">
      <h2 class="title">Pi'erre Bourne</h2>
      <p class="sub-title">Location: Saint Andrews's Hall, Detroit MI</p><br>
      <!-- <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24"> -->
    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
</svg>Time: Fri, Aug 20, 7 – 12 AM</p>
      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
  </svg>
            <p>Reminder: Bring a Mask</p>
          </div>
          <div class="box date">
            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
  </svg>
            <p>Don't forget the date</p>
          </div>
        </div>
        <p class="disclaimer">Buy Pierre Bourne tickets now to see today’s top music stars live and in-person on Fri, Aug 20, 2021 8:00 pm at The Shelter at Saint Andrews Hall in Detroit, MI.</p>
        </div>
    </div>
  </li>
</ul>


<br>
<br>
<br>
  <hr style="width: 200ext; align: left; margin-left: 0;">

<div class="para" style="margin-bottom: -65px;"">
  <br>
  <br>
  <br>
  
  <h3 style="font-family: 'Arvo', serif; font-weight: 900; color: #38A0D0; "> Quick Links</h3> <br>
<b>	<a href="{{ url_for('Jobs') }}" style="font-family: 'Arvo', serif;">Jobs</a> <br>
  <a href="{{ url_for('Attractions') }}" style="font-family: 'Arvo', serif;">Attractions</a> <br>
  <a href="{{ url_for('Services') }}" style="font-family: 'Arvo', serif;">Services</a> <br>
  <a href="{{ url_for('Food') }}" style="font-family: 'Arvo', serif;">Foods</a> <br>
  <a href="{{ url_for('Events') }}" style="font-family: 'Arvo', serif;">Events</a><br>
  <a href="{{ url_for('AboutUs') }}" style="font-family: 'Arvo', serif;">About Us</a><br>
  <a href="{{ url_for('Privacy') }}" style="font-family: 'Arvo', serif;">Privacy Policy</a><br>
  </b>
</div>

<footer>


<table style="float: left;">
  <colgroup>
<col span="3">

<tr><th style="line-height: 70px;" colspan="6" class="footer-font">WayneSociety</th></tr>

  <!-- <tr><th colspan="10">WayneSociety</th></tr> -->
  <tr><th colspan="6" style="color: white; font-family: 'Arvo', serif;">This website was built for the County of Wayne. Created by the Computer </th></tr>
<tr><th colspan="6" style="color: white; font-family: 'Arvo', serif;"">Science students of class CSC 4110/4111. Wayne Society is a culmination </th></tr>
<tr><th colspan="6" style="color: white; font-family: 'Arvo', serif;"">of our talent and teamwork encased in a website. This website pushed our  </th></tr>
<tr><th colspan="6" style="color: white; font-family: 'Arvo', serif;"">team to deliver the absolute best and to give the best services to the </th></tr>
<tr><th colspan="6" style="color: white; font-family: 'Arvo', serif;"">residents of Wayne.</th></tr>

</colgroup>

</table>



<table style="float: right;" >
<colgroup>
<col span="3">

<tr><th  colspan="6" class="footer-font"><div style="padding-right: 40px;" id="contact-form" class="contact-form">
<h1 class="contact-form_title" style="margin-top: 10px;">Contact us&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
  
</h1>
<div class="separator"></div>



<form class="form" style="margin-bottom: 10px;">
  
  <input required name="email" v-model="contact.email" placeholder="E-mail" type="email" autocomplete="off">
  <textarea name="message" v-model="contact.message" rows="4" placeholder="Message"></textarea>
   <button class="butt">Send</button>
</form>
</div>

</th></tr>


</colgroup>

</table>

</footer>

<!-- <footer>
<code style="text-align: left;"> logo/comapny name</code>
</footer> -->
  
</body>
</html>
{% endblock %}
