{% extends "NavRender.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Events.css')}}">
  <title>Events</title>
</head>
<body>
  <div class="grid">
    <div class="grid-item">
      <div class="card">
        <img class="card-img" src="https://res.cloudinary.com/dkboobgab/image/upload/v1624173343/https___cdn.evbuc.com_images_138908135_181252536116_1_original_dhlviz.jpg" alt="Rome" />
        <div class="card-content">
          <h1 class="card-header">PoP Party</h1>
          <p class="card-text">
            Rome is known for its stunning <strong> architecture</strong>,
            with the Colleseum, Pantheon, and Trevi Fountain as the main
            attractions.
          </p>
          <button class="card-btn">Visit <span>&rarr;</span></button>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="card">
        <img
          class="card-img"
          src="https://res.cloudinary.com/dkboobgab/image/upload/v1624173485/https___cdn.evbuc.com_images_129549723_524973367693_1_original_kineha.jpg"
          alt="Grand Canyon"
        />
        <div class="card-content">
          <h1 class="card-header">Grand Canyon</h1>
          <p class="card-text">
            One of the world's natural wonders, the iconic Grand Canyon draws
            oohs and aahs from visitors perched at the edge of its
            <strong>towering cliffs</strong>.
          </p>
          <button class="card-btn">Visit <span>&rarr;</span></button>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="card">
        <img class="card-img" src="https://res.cloudinary.com/dkboobgab/image/upload/v1624173202/Events5_szdd4o.jpg" alt="Maldives" />
        <div class="card-content">
          <h1 class="card-header">Maldives</h1>
          <p class="card-text">
            The Maldives are known for their
            <strong>natural environment</strong> including the blue ocean,
            white beaches, and clean air, attracting tourists.
          </p>
          <button class="card-btn">Visit <span>&rarr;</span></button>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class="card">
        <img class="card-img" src="https://res.cloudinary.com/dkboobgab/image/upload/v1624173196/Events3_hc5lp3.jpg" alt="Maldives" />
        <div class="card-content">
          <h1 class="card-header">Maldives</h1>
          <p class="card-text">
            The Maldives are known for their
            <strong>natural environment</strong> including the blue ocean,
            white beaches, and clean air, attracting tourists.
          </p>
          <button class="card-btn">Visit <span>&rarr;</span></button>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class="card">
        <img class="card-img" src="https://res.cloudinary.com/dkboobgab/image/upload/v1624173183/Event2_tlrlyn.jpg" alt="Maldives" />
        <div class="card-content">
          <h1 class="card-header">Maldives</h1>
          <p class="card-text">
            The Maldives are known for their
            <strong>natural environment</strong> including the blue ocean,
            white beaches, and clean air, attracting tourists.
          </p>
          <button class="card-btn">Visit <span>&rarr;</span></button>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class="card">
        <img class="card-img" src="https://res.cloudinary.com/dkboobgab/image/upload/v1624173190/Event4_hesms1.jpg" alt="Maldives" />
        <div class="card-content">
          <h1 class="card-header">Maldives</h1>
          <p class="card-text">
            The Maldives are known for their
            <strong>natural environment</strong> including the blue ocean,
            white beaches, and clean air, attracting tourists.
          </p>
          <button class="card-btn">Visit <span>&rarr;</span></button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
{% endblock %}