{% extends "NavRender.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Foods </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.8/css/all.css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/food.css')}}">
<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

<script>
  function expandCard(id){
    document.getElementById(id).style.opacity = 1
  }
  function revertCard(id){
    document.getElementById(id).style.opacity = .85
  }
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script> 

</head>
<body>
<!-- partial:index.partial.html -->
<h1 style="font-family: 'Arvo', serif;">Food</h1>
<h2 style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Welcome to the Food's page. Below are the list of various popular restaurants available in the Wayne County area. <br>
  Hover over a restaurant to learn more.</h2>
  <br>
  <br>

<div class="content-wrapper">
  
  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/REpCuzOzgsHUDYiJc69I1g/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Campestre Chicken</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;"> 3419 Fort St, Lincoln Park, MI</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">A blend of Mexican and Salvadorian cuisine compliments the Peruvian Chicken that we roast over a charcoal flame daily. Our recipes are authentic, unique and time-tested. The ingredients are always fresh. The result is a menu that bursts with flavor and variety.
        <a href="https://campestrelp.com/home" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/_DOMb5qfAi1QGL8oWpzo8w/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">The Vault</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">3058 1st st. Wyandotte, MI 48192</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Delicious food and cocktails filled with flavor and creativity. All allergy friendly with no compromises.
        <a href="https://www.thevaultonfirst.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/NpvuDMo2tWe02uR-whGWdg/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Glass Onion Griddle</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">6828 Allen Rd, Allen Park, MI 48101</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Laid-back spot for hearty breakfast & lunch classics plus updated lighter fare & regional coffee.
        <a href="https://www.glassoniongriddle.net/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/aR3m5AoBNWkqDyWlUzHfLQ/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Grand Dad's Bar</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">132 Sycamore St, Wyandotte, MI 48192</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">We're your old time hang out type of joint. Serving timeless cocktails, happy hour, food till 1am, and fun.
        <a href="https://granddadsbar.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/y86uP4fhYf_pwV-KKKjfgg/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Fat Daddy's Hot Chicken & Waffles</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">18283 M-85, Riverview, MI 48193</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Waffles, American (Traditional), Chicken Wing.
        <a href="https://fatdaddys-chicken.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/R_xIZU4LMDWkpYvvpFN86Q/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Moore Soulfood</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">3005 S Fort St, Detroit, MI 48217</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">MooreSoul Is a Black Owned Family Business. We started out Catering and selling Dinners back in 2010. We love to cook and serve our community.
        <a href="https://www.yelp.com/biz/moore-soulfood-detroit" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/oFp9P5ri98b3ZAyJmGXLgg/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Bobcat Bonnie's Wyandotte</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">118 Sycamore St, Wyandotte, MI 48192</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">At Bobcat Bonnie’s we aim to provide a fun, comfortable atmosphere in which all guests leave feeling like family.
        <a href="https://bobcatbonnies.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/M-qbR5nxdqKQa_qW-yQqjg/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Major Biddles</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">930 Biddle Ave, Wyandotte, MI 48192</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">The perfect place to unwind with friends, enjoy some great food and drinks.
        <a href="https://www.majorbiddles.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/SHU-xjcDPZuOEH2D538mZg/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Pita To Go</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">986 Southfield Rd, Lincoln Park, MI 48146</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Pita To Go is a premier and authentic Mediterranean Restaurant that is proud to serve the state of Michigan.
        <a href="https://www.pitatogolp.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/QNRfbb9BK9ldnj04neD9UA/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Savvy Sliders</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">2630 Oakwood Blvd, Melvindale, MI 48122</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Our mission was set out to create a gourmet slider that rivals any burger in town.
        <a href="https://www.yelp.com/biz/savvy-sliders-southfield" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/tt8tKN3W0V15vcmid3pdFQ/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Hook & Reel Cajun Seafood & Bar</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">7838 Telegraph Rd, Taylor, MI 48180</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">We’re proud of our “perfect cook,” just how seafood is meant to be enjoyed.
        <a href="https://hookreel.com/menu/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/bH8_aSU14DgpD50QHrAPiA/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">The Taco Stand Taqueria</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">5038 Allen Rd, Allen Park, MI 48101</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">The Taco Stand Taqueria is a family owned Taqueria (Taco Shop) proudly from the state of Jalisco, Mexico. Our vision is to become the best and quickest Street Inspired Mexican food in the Detroit Area.
        <a href="https://www.thetacostandtaqueria.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/u2R1BCC7sHj_5n47KKIRBA/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">H2O Seafood</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">3233 Biddle Ave, Wyandotte, MI 48192</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">At H2O, we believe that each meal is an emotional experience, sparking sights, smells and sounds from one’s personal memories.
        <a href="https://www.h2oseafood.net/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/_wDFp3T_x5YXpwVdraOGNg/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Galindo's A Taste Of Mexico</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">13754 Fort St, Southgate, MI 48195</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Authentic Mexican Cuisine brought to you by Chef Erik Galindo.
        <a href="http://www.galindosmexican.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/dPGJ9YpT0vlsOPfgMTrAcA/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Salute Taverna</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Goddard Rd, Taylor, MI 48180</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">The heart of Downriver, Taylor now has a little piece of Italy. Salute Tavern invites you to experience Italian favorites of the old world charm.
        <a href="https://www.salutetaylor.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/QYKGBRgF65jRizVLYmSu4g/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Major Tomato</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">6547 Allen Rd, Allen Park, MI 48101</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Major Tomato is a family-owned restaurant founded in 2014, with a mission to find a better way to provide way better pizza.
        <a href="https://www.majortomato.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/18vOcoRGPfBBqciTHxgbeg/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Mint 29</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">22000 Michigan Ave, Dearborn, MI 48124</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Mint 29 is an upscale fusion cuisine that serves the best international dishes. It got its name from the coins found on the walls of the historical building during renovations.
        <a href="https://www.mint29.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/vPdWnIXn-nevquL1TzYmlA/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Malek Al Kabob</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">22065 Michigan Ave, Dearborn, MI 48124</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Malek has become noted as one of the best Middle Eastern restaurants in the Detroit Metro.
        <a href="https://www.malekalkabob.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/UgwUc9bshprI1n41yErKiA/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Las Cazuelas Grill</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">25290 Evergreen Rd, Southfield, MI 48075</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">You might not expect to find fresh, flavorful food in a restaurant sharing space with a gas station, but that's where Maria Cristina Aldana prepares her burritos, quesadillas, tacos, and nachos for the increasing number of people willing to give her a try.
        <a href="https://www.lascazuelasgrill.net/home" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/KACaApyH0gSlridIxJpUvA/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Magdaleno Ristorante</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">152 Elm St, Wyandotte, MI 48192</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Tucked away just off the main drag of Biddle Avenue lies a veritable treasure trove of unique, fresh Italian food — better known as Magdaleno Ristorant.
        <a href="https://magdalenoitalian.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/fZkNiczltYMMZ13MZVa9MQ/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Truago Trenton</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">2775 W Jefferson Ave, Trenton, MI 48183</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Our goal is to keep everyone safe and provide fresh food for anyone that needs it.
        <a href="https://www.truago.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/dllyQU_bFAJup7ZUBrsYtQ/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Brome Modern Eaterty</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">22062 Michigan Ave, Dearborn, MI 48124</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">At Brome, we pledge fresh meat that goes into our burgers. Locally sourced ingredients fill our coolers whenever possible.
        <a href="https://bromemoderneatery.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/sd8Rh_Ja_vQofam3tgfmIA/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Edison's</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">20301 Oakwood, Dearborn, MI 48124</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Savor traditional American fare for breakfast, lunch and dinner at Edison's, our sophisticated restaurant with large arched windows overlooking classic architecture and our hotel's beautiful grounds.
        <a href="https://www.yelp.com/biz/edisons-dearborn" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/zenUuWAOmDOeI-LwKnoShg/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">The Great Commoner</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">22001 Michigan Ave Suite 100, Dearborn, MI 48124</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">When Chefs Matt Knio and Zane Makky put their heads together to form this concept, the partners knew something special was about to happen.
        <a href="https://www.greatcommoner.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/PQEfGkshZ_CFuPY626wpYA/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">The Fish Market</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">4355 Schaefer Rd, Dearborn, MI 48126</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Freshest & Best Seafood in Michigan, Family Owned.
        <a href="https://www.yelp.com/biz/the-fish-market-dearborn" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/proQD3yRr1E1_gcxNjtrxA/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title">Shish Palace</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">15801 Southfield Rd, Allen Park, MI 48101</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">We offer all Mediterranean Cuisine Breakfast, Lunch and Dinner.
        <a href="https://www.shishpalacemi.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/AJWZ1kiBVzG42rQp_TJkng/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Thai Vaylai</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">6555 Allen Rd, Allen Park, MI 48101</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">We offer authentic Thai cuisine for the Downriver community. We use the freshest ingredients.
        <a href="http://www.thaivylai.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/c4bKX4nBtx9-almntRmUrA/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Pekin Tokyo</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">15170 Southfield Rd, Allen Park, MI 48101</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">The recipe for success of Pekin Tokyo is its mouthwatering crab rangoon, spicy chicken and eel. Take your chance to taste delicious tea.
        <a href="https://www.yelp.com/biz/pekin-tokyo-allen-park" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/3m790JW4V--yY5QwnVdizg/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Vinny Macks Snack Shack</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">24348 Ecorse Rd, Taylor, MI 48180</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">WE OFFER DELICIOUS CHEESESTEAKS, GYROS, BURGERS AND DOGS. YOU CAN ALWAYS EXPECT FRESH MADE FOOD.
        <a href="https://www.vinnymacks.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/3Co4h5EO-0V75fKBOxrUOg/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">New China Inn</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">14709 Northline Rd, Southgate, MI 48195</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Chinese cuisine is served at this restaurant. New China Inn offers you good crab soup, crab rangoon and chicken chops.
        <a href="https://www.yelp.com/biz/new-china-inn-southgate-2" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/vzT-ROdzHy275T8UMjK3dg/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Foggia's Pizzeria</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">14795 Dix Toledo Rd, Southgate, MI 48195</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">We are a family owned Italian restaurant and pizzeria.
        <a href="https://www.yelp.com/biz/foggia-s-pizzeria-southgate" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/xoNf_Un5vMLUyQ-aQLaKTA/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Hungarian Rhapsody</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">14315 Northline Rd, Southgate, MI 48195</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">The rich aroma of our dishes and the soft notes of traditional music along with the authentic artifacts in our mini museum, will create an authentic, premier restaurant experience. We feature freshly prepared and delicious.
        <a href="https://www.therhapsodyrestaurant.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

  <div class="news-card">
    <a href="#" class="news-card__card-link"></a>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/xoNf_Un5vMLUyQ-aQLaKTA/348s.jpg" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title" style="font-family: 'Arvo', serif;">Liberati's Italian Deli & Bakery</h2>
      <div class="news-card__post-date" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">7607 Allen Rd, Allen Park, MI 48101</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">Liberati's is your one-stop shop for lunch, dinner and deli items. We offer freshly -made rolls, bread, subs, lasagna, pizza, cannoli, cookies and much more.
        <a href="http://www.liberatisdeli.com/" class="news-card__read-more">Visit us <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>

</div>
<br><br>
   <!--button for getting back to the top of the page-->
  <button onclick="topFunction()" id="myBtn" title="Go to top">Click to go back to the top</button>

</div>










</body>






</html>

{% endblock %}