{% extends "NavRender.html" %}

{% block content %}
<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Welcome to Wayne Society">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Food</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/food.css')}}">
    

  

      
</html>
{% endblock %}