<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WayneSociety</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Home.css')}}">
    <header class="viewport-header"> <video autoplay muted loop id="myVideo">
            <source src="{{ url_for('static', filename='images/hd.mp4')}}" type="video/mp4">
        </video></header>
</head>

<body>

    <div class="s">
        <a herf="{{ url_for('Welcome') }}"><img alt="lojo" src="{{ url_for('static', filename='images/logo1.png')}}"
                width="100" height="100"><i>Wayne Society</i></a>
    </div>

    <div class="aa"><img alt="lojo" src="{{ url_for('static', filename='images/logo1.png')}}" width="100" height="100">
    </div>
    <nav class="navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="500">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse"
                    data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">

                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <div class="ml-auto">
                    <div class="pp">
                        <a href="{{ url_for('Login') }}" class="btn btn-danger btn-round">Login</a>
                        &nbsp; &nbsp;
                        <a href="{{ url_for('Signup') }}" class="btn btn-danger btn-round">signup</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="section-dark ">
        <div class="overlay  gg">
            <h2 class="f">Give best services to people of wayne</h2>
            <div class="presentation-subtitle">
                <h2 style="padding-top: 50px;" style="font-family: 'Brush Script MT', cursive;">To access all categories
                    you need to create account with us.</h2>
            </div>
        </div>
    </div>
    </div>
</body>

</html>