{% extends "NavRender.html" %}<!--nav bar-->

{% block content %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Expanding Card Grid With Flexbox</title>

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Slabo+27px|Yesteryear'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/Jobs.css')}}">
<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
</head>
<body>
	<!-- partial:index.partial.html -->
	<div class="wrapper">
	
	  <div class="header">
		<h1 class = "title" style="font-family: 'Arvo', serif;">JOBS</h1>
		<p class = "description" style="font-family: 'Noto Sans JP', sans-serif; font-weight: 600;">New to the Wayne County Area? Seeking jobs hiring in the area? <br>view all the recent jobs in the wayne county area. 
			<br>Click Apply Here to go to Job Website</p>
	  
	
	  <div class="cards">
	
      <div class=" card [ is-collapsed ] ">
        <div class="card__inner [ js-expander ]">
        <span>Retail Cashier</span><br>
        <span>Dick's Sporting Goods</span><br>
        <i>Canton</i>
        </div>
        <div class="card__expander">
        <i class="fa fa-close [ js-collapser ]"></i>
  
  
  <p>On our team, everyone plays a critical role providing genuine, helpful and friendly service to help our athletes perform at their best and enjoy their sport.
   We’re committed to creating an inclusive and diverse workforce, reflecting the communities we serve. 
   This role is an opportunity to make a difference and join the world’s greatest sports team.
  </p>
        </div>
        <p><a href="https://www.dickssportinggoods.jobs/jobs/12307485/retail-cashier-canton-mi/?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>
  
      </div>
	
    <div class=" card [ is-collapsed ] ">
		  <div class="card__inner [ js-expander ]">
			<span>Cashier & Front End Services</span><br>
			<span>Walmart</span><br>
      <i>Canton</i>
		  </div>
		  <div class="card__expander">
			<i class="fa fa-close [ js-collapser ]"></i>


<p>On our team, everyone plays a critical role providing genuine, helpful and friendly service to help our athletes perform at their best and enjoy their sport.
 We’re committed to creating an inclusive and diverse workforce, reflecting the communities we serve. 
 This role is an opportunity to make a difference and join the world’s greatest sports team.
</p>
		  </div>
      <p><a href="https://careers.walmart.com/us/jobs/FE41206376CP-cashier-front-end-services?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

		</div>
	
		<div class=" card [ is-collapsed ] ">
		  <div class="card__inner [ js-expander ]">
			<span>Freight/Receiving</span><br>
			<span>Home Depot</span><br>
      <i>Canton</i>
		  </div>
		  <div class="card__expander">
			<i class="fa fa-close [ js-collapser ]"></i>


<p>On our team, everyone plays a critical role providing genuine, helpful and friendly service to help our athletes perform at their best and enjoy their sport.
 We’re committed to creating an inclusive and diverse workforce, reflecting the communities we serve. 
 This role is an opportunity to make a difference and join the world’s greatest sports team.
</p>
		  </div>
      <p><a href="https://careers.homedepot.com/job/6957591/freight-receiving-canton-mi/?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

		</div>
    
    <div class=" card [ is-collapsed ] ">
		  <div class="card__inner [ js-expander ]">
			<span>Restaurant Team Member</span><br>
			<span>CHIPOTLE</span><br>
      <i>Canton</i>
		  </div>
		  <div class="card__expander">
			<i class="fa fa-close [ js-collapser ]"></i>


<p>On our team, everyone plays a critical role providing genuine, helpful and friendly service to help our athletes perform at their best and enjoy their sport.
 We’re committed to creating an inclusive and diverse workforce, reflecting the communities we serve. 
 This role is an opportunity to make a difference and join the world’s greatest sports team.
</p>
		  </div>
      <p><a href="https://jobs.chipotle.com/job/canton/restaurant-team-member-crew-2718-canton/282/10453218256?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

		</div>
    <div class=" card [ is-collapsed ] ">
		  <div class="card__inner [ js-expander ]">
			<span>Security Officer</span><br>
			<span>Securitas USA</span><br>
      <i>Canton</i>
		  </div>
		  <div class="card__expander">
			<i class="fa fa-close [ js-collapser ]"></i>


<p>On our team, everyone plays a critical role providing genuine, helpful and friendly service to help our athletes perform at their best and enjoy their sport.
 We’re committed to creating an inclusive and diverse workforce, reflecting the communities we serve. 
 This role is an opportunity to make a difference and join the world’s greatest sports team.
</p>
		  </div>
      <p><a href="https://www.securitasjobs.com/en-US/job/security-officer/J3P4JT5XGBL9LWVVM1W?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

		</div>
    <div class=" card [ is-collapsed ] ">
		  <div class="card__inner [ js-expander ]">
			<span>Mobile Expert</span><br>
			<span>T-moblie</span><br>
      <i>Westland</i>
		  </div>
		  <div class="card__expander">
			<i class="fa fa-close [ js-collapser ]"></i>


<p>On our team, everyone plays a critical role providing genuine, helpful and friendly service to help our athletes perform at their best and enjoy their sport.
 We’re committed to creating an inclusive and diverse workforce, reflecting the communities we serve. 
 This role is an opportunity to make a difference and join the world’s greatest sports team.
</p>
		  </div>
      <p><a href="https://www.tmobile.careers/job-details/13070975/mobile-expert-metro-westland-mi/?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

		</div>
    <div class=" card [ is-collapsed ] ">
		  <div class="card__inner [ js-expander ]">
			<span>Produce Specialist</span><br>
			<span>sysco</span><br>
      <i>Canton</i>
		  </div>
		  <div class="card__expander">
			<i class="fa fa-close [ js-collapser ]"></i>


<p>On our team, everyone plays a critical role providing genuine, helpful and friendly service to help our athletes perform at their best and enjoy their sport.
 We’re committed to creating an inclusive and diverse workforce, reflecting the communities we serve. 
 This role is an opportunity to make a difference and join the world’s greatest sports team.
</p>
		  </div>
      <p><a href="https://careers.sysco.com/jobs/R16733?lang=en-us&utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

		</div>
	
		<div class=" card [ is-collapsed ] ">
		  <div class="card__inner [ js-expander ]">
			<span>Novartis</span><br>
			<span>Novartis Pharmaceuticals</span><br>
      <i>Detroit</i>
		  </div>
		  <div class="card__expander">
			<i class="fa fa-close [ js-collapser ]"></i>


<p>On our team, everyone plays a critical role providing genuine, helpful and friendly service to help our athletes perform at their best and enjoy their sport.
 We’re committed to creating an inclusive and diverse workforce, reflecting the communities we serve. 
 This role is an opportunity to make a difference and join the world’s greatest sports team.
</p>
		  </div>
      <p><a href="https://www.novartis.com/careers/career-search/job-details/322548BR?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

		</div>
	
    <div class=" card [ is-collapsed ] ">
		  <div class="card__inner [ js-expander ]">
			<span>Merchandiser</span><br>
			<span>Keurig Dr Pepper</span><br>
      <i>Detroit</i>
		  </div>
		  <div class="card__expander">
			<i class="fa fa-close [ js-collapser ]"></i>


<p>On our team, everyone plays a critical role providing genuine, helpful and friendly service to help our athletes perform at their best and enjoy their sport.
 We’re committed to creating an inclusive and diverse workforce, reflecting the communities we serve. 
 This role is an opportunity to make a difference and join the world’s greatest sports team.
</p>
		  </div>
      <p><a href="https://careers.keurigdrpepper.com/corporate/jobs/39193?lang=en-us&previousLocale=en-US&utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

		</div>
	
    <div class=" card [ is-collapsed ] ">
		  <div class="card__inner [ js-expander ]">
			<span>Deskside Support</span><br>
			<span>IBM</span><br>
      <i>Canton</i>
		  </div>
		  <div class="card__expander">
			<i class="fa fa-close [ js-collapser ]"></i>


<p>Here at IBM, we are seeking a Deskside Support Technician. In this role, you will be installing, performing moves, add changes (IMAC), build, configuration, following provided scripts. Perform software support for low - high complexity problems/issues with Customer personal computers
</p>
		  </div>
      <p><a href="https://careers.ibm.com/pt-pt/job-details-pt/13301952/deskside-support-detroit-mi/?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

		</div>



		<div class=" card [ is-collapsed ] ">
			<div class="card__inner [ js-expander ]">
			  <span>Systems Engineer</span><br>
			  <span>KForce Technology</span><br>
		<i>Canton</i>
			</div>
			<div class="card__expander">
			  <i class="fa fa-close [ js-collapser ]"></i>
  
  
  <p>OKforce has a client in search of a Systems Engineer in Detroit, MI.

  </p>
			</div>
		<p><a href="https://www.careerbuilder.com/job/J3M6T169N1KSRH8DB1Q?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>
  
		  </div>
















		  <!-- new Cards -->
		  <div class=" card [ is-collapsed ] ">
			<div class="card__inner [ js-expander ]">
			  <span>Business Analyst</span><br>
			  <span>General Motors</span><br>
		<i>Canton</i>
			</div>
			<div class="card__expander">
			  <i class="fa fa-close [ js-collapser ]"></i>
  
  
  <p>On our team, everyone plays a critical role providing genuine, helpful and friendly service to help our athletes perform at their best and enjoy their sport.
   We’re committed to creating an inclusive and diverse workforce, reflecting the communities we serve. 
   This role is an opportunity to make a difference and join the world’s greatest sports team.
  </p>
			</div>
		<p><a href="https://search-careers.gm.com/job/GENEA0084JR000036298ENUS/Business-Analyst?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>
  
		  </div>


<!-- new Cards -->
	  <div class=" card [ is-collapsed ] ">
		<div class="card__inner [ js-expander ]">
		  <span>Software Development Engineer 2</span><br>
		  <span>Amazon</span><br>
	<i>Canton</i>
		</div>
		<div class="card__expander">
		  <i class="fa fa-close [ js-collapser ]"></i>


<p>Our team owns Embark a tool that is Amazon's one-stop-shop for all things on-boarding. We're looking for a talented Software Development Engineer who's excited to help us improve the new hire experience at Amazon.
</p>
		</div>
	<p><a href="https://www.linkedin.com/jobs/view/operations-manager-at-doordash-2557489016/?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

	  </div>



<!-- new Cards -->
<div class=" card [ is-collapsed ] ">
	<div class="card__inner [ js-expander ]">
	  <span>Manager - Cross <br>Solution Sales</span><br>
	  <span>Microsoft</span><br>
<i>Detriot</i>
	</div>
	<div class="card__expander">
	  <i class="fa fa-close [ js-collapser ]"></i>


<p>Joining the Microsoft Specialist Sales Team as the Cross Solution Area Manager for General Motors/Cruise you will be leading a team of senior sellers to craft end to end solutions for their business. 
</p>
	</div>
<p><a href="https://www.linkedin.com/jobs/view/operations-manager-at-doordash-2557489016/?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

  </div>



  <!-- new Cards -->
  <div class=" card [ is-collapsed ] ">
	<div class="card__inner [ js-expander ]">
	  <span>Operations Manager <br>DashMart</span><br>
	  <span>DoorDash</span><br>
<i>Detriot</i>
	</div>
	<div class="card__expander">
	  <i class="fa fa-close [ js-collapser ]"></i>


<p>We’re looking for a people-focused leader and experienced operations specialist, to lead some of our new DashMart facilities
</p>
	</div>
<p><a href="https://www.linkedin.com/jobs/view/operations-manager-at-doordash-2557489016/?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

  </div>








  <!-- new Cards -->
  <div class=" card [ is-collapsed ] ">
	<div class="card__inner [ js-expander ]">
	  <span>Senior UX Designer <br>Business Data</span><br>
	  <span>Amazon</span><br>
<i>Detriot</i>
	</div>
	<div class="card__expander">
	  <i class="fa fa-close [ js-collapser ]"></i>


<p>Leading new creative and holistic thinking across diverse product releases, platforms, and devices; driving the direction, style, and methodology of design and accessibility.
</p>
	</div>
<p><a href="https://www.glassdoor.com/partner/jobListing.htm?pos=803&ao=1136006&s=58&guid=0000017ad796f72397199339773a83a8&src=GD_JOB_VIEW&t=SR&vt=w&cs=1_de28148f&cb=1627114633355&jobListingId=4112352205">Apply Here!</a></p>

  </div>








  <!-- new Cards -->
  <div class=" card [ is-collapsed ] ">
	<div class="card__inner [ js-expander ]">
	  <span>Software Engineer <br>Manufacturing Automation</span><br>
	  <span>ITmPowered</span><br>
<i>Detriot</i>
	</div>
	<div class="card__expander">
	  <i class="fa fa-close [ js-collapser ]"></i>


<p>The Software Engineer Manufacturing Automation will enable digital factory transformation and advanced manufacturing automation through modular, scalable, high availability Microsoft
</p>
	</div>
<p><a href="https://www.glassdoor.com/partner/jobListing.htm?pos=630&ao=1136006&s=58&guid=0000017ad794bc2e8d171207eda6de21&src=GD_JOB_VIEW&t=SR&vt=w&cs=1_3be759ef&cb=1627114487389&jobListingId=4023303311">Apply Here!</a></p>

  </div>






  <!-- new Cards -->
  <div class=" card [ is-collapsed ] ">
	<div class="card__inner [ js-expander ]">
	  <span>Entry Level Global <br> Software Product Development</span><br>
	  <span>General Motors</span><br>
<i>Warren</i>
	</div>
	<div class="card__expander">
	  <i class="fa fa-close [ js-collapser ]"></i>


<p>The Global Product Development Group (GPD) is looking for innovative Entry Level Software Engineers to help us build state-of-the-art platforms.
</p>
	</div>
<p><a href="https://www.glassdoor.com/partner/jobListing.htm?pos=415&ao=1136006&s=58&guid=0000017ad792b14c8a5e1c241fb6a012&src=GD_JOB_VIEW&t=SR&vt=w&cs=1_d8e23143&cb=1627114353400&jobListingId=4129926909">Apply Here!</a></p>

  </div>






  <!-- new Cards -->
  <div class=" card [ is-collapsed ] ">
	<div class="card__inner [ js-expander ]">
	  <span>Technology <br>Instructor</span><br>
	  <span>Pace Academy</span><br>
<i>Detriot</i>
	</div>
	<div class="card__expander">
	  <i class="fa fa-close [ js-collapser ]"></i>


<p>To serve as a teacher for the Academy. To provide students with a first class learning experience
</p>
	</div>
<p><a href="https://www.linkedin.com/jobs/view/operations-manager-at-doordash-2557489016/?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

  </div>








  <!-- new Cards -->
  <div class=" card [ is-collapsed ] ">
	<div class="card__inner [ js-expander ]">
	  <span>Technology Solutions <br> Analyst</span><br>
	  <span>Welltower</span><br>
<i>Detriot</i>
	</div>
	<div class="card__expander">
	  <i class="fa fa-close [ js-collapser ]"></i>


<p>The Technology Solutions Analyst is responsible for supporting project efforts across the enterprise. 
</p>
	</div>
<p><a href="https://www.glassdoor.com/partner/jobListing.htm?pos=205&ao=1044074&s=58&guid=0000017ad78fc8b9b7afaa45ec5c452b&src=GD_JOB_VIEW&t=SR&vt=w&cs=1_d5b87851&cb=1627114162719&jobListingId=4139062555">Apply Here!</a></p>

  </div>








  <!-- new Cards -->
  <div class=" card [ is-collapsed ] ">
	<div class="card__inner [ js-expander ]">
	  <span>Power <br> Platform Developer</span><br>
	  <span>Pasona N A</span><br>
<i>Novi, MI</i>
	</div>
	<div class="card__expander">
	  <i class="fa fa-close [ js-collapser ]"></i>


<p>We’re looking for a people-focused leader and experienced operations specialist, to lead some of our new DashMart facilities
</p>
	</div>
<p><a href="https://www.linkedin.com/jobs/view/operations-manager-at-doordash-2557489016/?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

  </div>






  <!-- new Cards -->
  <div class=" card [ is-collapsed ] ">
	<div class="card__inner [ js-expander ]">
	  <span>Robotic <br>Programmer</span><br>
	  <span>Oakland Automation</span><br>
<i>Livonia</i>
	</div>
	<div class="card__expander">
	  <i class="fa fa-close [ js-collapser ]"></i>


<p>We’re looking for a people-focused leader and experienced operations specialist, to lead some of our new DashMart facilities
</p>
	</div>
<p><a href="https://www.linkedin.com/jobs/view/operations-manager-at-doordash-2557489016/?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

  </div>






  <!-- new Cards -->
  <div class=" card [ is-collapsed ] ">
	<div class="card__inner [ js-expander ]">
	  <span>Fuel Cell Controller <br> Software Engineer</span><br>
	  <span>General Motors</span><br>
<i>Detriot</i>
	</div>
	<div class="card__expander">
	  <i class="fa fa-close [ js-collapser ]"></i>


<p>The Fuel Cell Controller Group is seeking a Software engineer to define, design, and develop control software for Fuel Cell's primary and supervisory controllers.
</p>
	</div>
<p><a href="https://www.linkedin.com/jobs/view/operations-manager-at-doordash-2557489016/?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

  </div>


		<div class=" card [ is-collapsed ] ">
		  <div class="card__inner [ js-expander ]">
			<span>Engineer <br>Associate</span><br>
			<span>DTE Energy</span><br>
      <i>Detriot</i>
		  </div>
		  <div class="card__expander">
			<i class="fa fa-close [ js-collapser ]"></i>


<p>On our team, everyone plays a critical role providing genuine, helpful and friendly service to help our athletes perform at their best and enjoy their sport.
 We’re committed to creating an inclusive and diverse workforce, reflecting the communities we serve. 
 This role is an opportunity to make a difference and join the world’s greatest sports team.
</p>
		  </div>
      <p><a href="https://careers.dteenergy.com/job/Detroit-Engineer-Associate-MI-48201/713482600/?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply Here!</a></p>

		</div>
	
	  </div>
	
	</div>
	<!-- partial -->
	  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	  <script src="{{url_for('static', filename='js/Jobs.js')}}"></script>
	
	</body>
  </html>
{% endblock %}