{% extends "NavRender.html" %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <title>Login</title>
</head>
<body>

    <h1 class="title">Welcome Back :)</h1>
    <p class="paragraphs">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Login into your account to view all categories in the Wayne County Area, <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp View services, attractions jobs and many more. </p>
    <div class="column is-4 is-offset-4">
        
        <div class="box">
            {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}



            <form method="POST" action="/Login">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                    </div>
                </div>
    
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="Your Password">
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        Remember me
                    </label>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Login</button>
            </form>
            <br>
            <p class="forgot"><a href="{{ url_for('ResetPassword') }}" style="color: honeydew; font-weight: 800;">Forgot Password? </a></p>
            
        </div>
        
    </div>

    <h3> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Don't have an account? Create an account <a href="{{ url_for('Signup') }}" style="color: #38A0D0;">Here</a></h3>
</body>
</html>
{% endblock %}