{% extends "NavRender.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Privacy.css" media="screen">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <title>Terms & Conditions</title>
</head>
<body>
  
  <h1 class = "title" style="font-family: 'Arvo', serif;">Wayne Society Privacy Policy</h1>


  Whenever our privacy policy is changed, we will be sure to keep you updated. Below you will find the most up to date version of our privacy policy, detailing what information we collect from our users and what we do with that information:

  <h2 style="font-family: 'Noto Sans JP', sans-serif; font-weight: 900;">What information do we collect?</h2>
  <ul>
    <li style="font-family: 'Noto Sans JP', sans-serif; font-weight: 900;">We collect your email and password, only when you first register your account</li>
  </ul>
  <h2 style="font-family: 'Noto Sans JP', sans-serif; font-weight: 900;">What do we do with this information?</h2>
  <ul>
    <li style="font-family: 'Noto Sans JP', sans-serif; font-weight: 900;">We keep this information in a secure database that allows us to verify you as a registered user when you log in.</li>
  </ul>
  <br><br>
  Here at Wayne Society, we are dedicated to being honest about any information we collect from our users, and storing this information as secure as possible.
  <br><br>Thank you,
  <br>Wayne Society Team

</body>
</html>
{% endblock %}