{% extends "NavRender.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Privacy.css" media="screen">
    <title>Terms & Conditions</title>
</head>
<body>
  <h1> Wayne Society Privacy Policy </h1>

  Whenever our privacy policy is changed, we will be sure to keep you updated. Below you will find the most up to date version of our privacy policy, detailing what information we collect from our users and what we do with that information:

  <h2>What information do we collect?</h2>
  <ul>
    <li>We collect your email and password, only when you first register your account</li>
  </ul>
  <h2>What do we do with this information?</h2>
  <ul>
    <li>We keep this information in a secure database that allows us to verify you as a registered user when you log in.</li>
  </ul>
  <br><br>
  Here at Wayne Society, we are dedicated to being honest about any information we collect from our users, and storing this information as secure as possible.
  <br><br>Thank you,
  <br>Wayne Society Team

</body>
</html>
{% endblock %}