{% extends "NavRender.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Profile.css')}}">
    <title>Profile</title>
</head>

<body>

      <div class="wrapper">
		<div class="wrapper-inner">
			<div class="box-wrapper">
				<div class="box">
					<div class="box-inner">
						<h3 class="title" style="font-family: 'Montserrat', sans-serif">Name:   {{ name }}</h3>
                        <br>
                        <br>
                        <br>
						<h4 class="title" style="font-family: 'Montserrat', sans-serif">Email: {{ email }}</h4>
					</div>
					
				</div>
			</div>
		</div>
	</div>
      
    </body>



</html>
{% endblock %}