{% extends "NavRender.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container w-50">
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <fieldset>
            <legend class ="border-bottom mb-4">Login</legend>
            <div class="form-group">
                {{form.email.errors %}}
                {% if form.email(class="form-control form-control-lg is-invalid")}
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>
{% endblock %}