{% extends "NavRender.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Signup.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

  <title>SignUp</title>
</head>

<body>

  <h1 class="title">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Join WayneSociety Today.</h1>
  <p class="paragraphs">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Create an account to view all categories in the Wayne County
    Area, <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp View services, attractions jobs and many more. </p>
  <div class="column is-4 is-offset-4">
    <div class="box">

      <!-- Configuration to route from signup to login, after users have entered their information-->
      {% with messages = get_flashed_messages() %}
      {% if messages %}

      <!-- We also want to use bootstrap notification to confirm if users data already exist
                
                Once we get the user sign up request we compare it to our existing database and check to see if the information already exist
                if Information Exist, re-route to login page
            -->
      <div class="notification is-danger">
        {{ messages[0] }}. Please go to <a href="{{ url_for('Login') }}">login page</a>.
      </div>
      {% endif %}
      {% endwith %}
      <form method="POST" action="/Signup" id="form">
        <div class="field">
          <div class="control">
            <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="" id="email">
            <span id="text"></span>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input is-large" type="password" name="password" placeholder="Password"
              oninput="ValidatePassword()" id="password">

            <span id="toggle" onclick="toggle()">
              <i class="fas fa-eye"></i>
            </span>
            <div id="strength-bar"></div>
          </div>
          <p id="msg"></p>

       

        </div>
          <br>
        <!-- <p><input type="checkbox" name="terms"><p style="color: white;"> I accept the </p><u style="font-family: 'Arvo', serif; color: white;"><a href="Terms.html"> Terms and Conditions</a></u></p>
        <br> -->

        <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)"><u style="color: white; font-family: 'Arvo', serif;">  I Agree Terms & Coditions</u>
        <br><br>
        
        <button class="button is-block is-info is-large is-fullwidth" id="submit">Create Account</button>
      </form>
    </div>
    <h3> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Already have an account? Login <a href="{{ url_for('Login') }}"
        style="color: #38A0D0;">Here</a></h3>
  </div>



  <script src="{{url_for('static', filename='js/Signup.js')}}"></script>
</body>

</html>



<script>
  function disableSubmit() {
   document.getElementById("submit").disabled = true;
  }
 
   function activateButton(element) {
 
       if(element.checked) {
         document.getElementById("submit").disabled = false;
        }
        else  {
         document.getElementById("submit").disabled = true;
       }
 
   }
 </script>
{% endblock %}