h5 {
  font-size:x-large;
}

.card-deck{
font:white;
opacity:0.75; /* makes the page transparent*/
width: 33.33%;
height: 600px;
float: left;
display: flex;
flex-flow: row wrap;
/*overflows adds scroll*/
overflow-x: hidden;
overflow-y:auto;
border: 10px ;
padding: 0px 0px 0px 30px;
}

/*Button Css*/
a:hover {
opacity: 1;
}

button {
border-radius: 4px;
text-transform: uppercase;
font-weight: bold;
text-align: center;
background-color: #38A0D0;
opacity: 1;
transition: all 400ms;
}

button:hover {
background-color: #96d1ec;
}

}







