@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');



.wrapper:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dkboobgab/image/upload/v1622593690/detroit_4k_5k_hd_1_gj2psk.jpg");
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.wrapper-inner {
  position: relative;
  height: 100%;
}

.box-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.box {
  position: relative;
  border-radius: 8px;
  text-align: center;
  padding-top: 65px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
}






.pos{  
  max-width: fit-content;
}

.footer-font{
  font-size: xx-large;
  color: white;
}

.pos2{

align-items: center; 
justify-content: center; 
}

.footer-bac{
  opacity: 50%;
} 


/* code {
  background: #2db34a;
  border-radius: 8px;
  display: block;
  padding-block-end: 150px;
  
  
} */
.contact-form {
	font-family: 16px;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}

.contact-form .separator {
	
	margin-bottom: 0px;
}

.contact-form .form {
  display: flex ;
	flex-direction: column;
	font-size: 16px;
}

.contact-form_title {

	text-align: left;
	font-size: 28px;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
	border: solid 1px #e8e8e8;
	font-family: 'Roboto', sans-serif;
	padding: 10px 7px;
	margin-bottom: 10px;
	outline: none;
}

.contact-form textarea {
	resize: none;
}

.contact-form .butt {
	background: #2ac4ea;
	border: round 10px #2ac4ea;

	cursor: pointer;
	padding: 10px 50px;
	text-align: center;
	text-transform: uppercase;
}

.contact-form .butt:hover {
	background: #2a9dea;
	border: solid 1px #2ac4ea;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea,
.contact-form .butt {
	font-size: 15px;
	border-radius: 10px
}
.para{
  position: absolute;
  bottom: 0px;
  text-align: center;
  padding-left: 630px;
  padding-bottom: 60px;
  font-size: 18px;
  color: white;
}

.space { margin-top: 1000px; }
